<div class="col-md-10">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                Random Used Links
            </h4>
        </div>

        <div class="panel-body">
            <div class="list-group-items">
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h4>Link title</h4>
                    </div>

                    <div class="list-item-group-text">
                        <a href="#">www.kadlaksda.ada.naasdadadasdkjklads?asdald;sa?asdd</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>