<div class="container col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading">

            <h4>
                Questions and Answers
            </h4>

        </div>

        <div class="panel-body">
            <div class="list-group-items">
                <div class="list-group-item">
                    <a href="#">faaskhlkasd adjashdjahdkajdsj asdakdjads asd?</a>
                </div>

                <div class="list-group-item">
                    <a href="#">A question?</a>
                </div>
            </div>
        </div>
    </div>
</div>